body {
  background-color: rgb(210, 215, 215);
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row-flex{
  display: flex;
  flex-direction: row;
} 

.col-flex{
  display: flex;
  flex-direction: column;
}

/* Columns Container */
.col1{
  flex: 1;
  justify-content: center;
  background-color: aliceblue;
  margin-top: .25rem;
  margin-left: 2rem;
  border-style: groove;
}

.col1 h2{
  text-align: center;
}

.col1 h3{
  margin-bottom: 0;
}

.col1 ul {
  margin-top: 0;
  list-style: none;
  padding-left: 1em;  
}

.col1 li{
  margin-left: .5rem;
}

/* Picker & Plotter container */
.col2{
  flex: 4;
}

.drop div{ /*Tags Container */
  background-color: aliceblue;
  border-style: groove;
  width: 80%;
  height: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
}

.drop p{
  margin: .25rem 0rem 0rem 2rem;
}

.drop button{
  background-color: aliceblue;
  margin: 0rem .5rem .5rem 2rem;
  border: 4px;
  border-radius: 10%;
}

.drop button:hover{
  text-decoration: underline;
  border-radius: 0;
}

#tag{
  background-color: rgb(210, 215, 215);
  margin: 5px 2px;
  border-style:dotted;
  border: 5px;
  border-radius: 10%;
  border-color: black ;
}

#tag:hover{
  text-decoration: none;
}

.plotter{
  width: 80%;
  background-color: aliceblue;
  margin-top: 0;
  margin-left: 2rem;
  border-style: groove;
  size: initial;
  text-align: center;
}