body {
  background-color: rgb(210, 215, 215);
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row-flex{
  display: flex;
  flex-direction: row;
} 

.col-flex{
  display: flex;
  flex-direction: column;
}

/* Columns Container */
.col1{
  /* text-align: center; */
  flex: 1;
  justify-content: center;
  background-color: aliceblue;
  margin-top: 1rem;
  margin-left: 2rem;
  border-style: groove;
}

.col1 h2{
  text-align: center;
}

.col1 h3{
  padding-left: .5em;
  margin-bottom: 0;
}

.col1 ul {
  margin-top: 0;
  list-style: none;
  padding-left: 1em;  
}

.col ul li{
  padding-left: 5rem;
}

.col2{
  flex: 4;
}

.plotter{
  width: 80%;
  background-color: aliceblue;
  margin-top: 1rem;
  margin-left: 2rem;
  border-style: groove;
  size: initial;
  text-align: center;
}

/* .picker{
  display: flex;
  flex-direction: column;
} */

.picker div{
  background-color: aliceblue;
  border-style: groove;
  width: 80%;
  height: 2rem;
  margin: 1rem 0rem 0rem 2rem;
  /* text-align: end;; */
  display: flex;
  flex-direction: row;
}

.picker p{
  text-align: right;
  margin-top: 5px;
  padding-right: 10px;
}

.picker button{
  background-color: aliceblue;
  margin: 0rem .5rem .5rem 2rem;
}

/*
.draggable{
  text-align: center;
}

 .droppable{
  background-color: aliceblue;
  border-style: groove;
  width: 60%;
  height: 2rem;
  margin: 2rem .5rem .5rem 2rem;
} */